.about-us {
  background-color: $blue;
  color: $white;
}

.about-us__title {
  text-transform: uppercase;
  font-size: 27px;
}

.about-us__text {
  font-size: 17px;
}

.about-us__signature {
  font-weight: bold;
  font-size: 17px;
}
