.first-screen {
  background-color: $blackBlue;
}

.first-screen__title {
  color: $white;
  font-size: 18px;
}

.first-screen__link {
  color: $white;
  text-transform: uppercase;
  background-color: $blue;
  font-weight: bold;
}
